/*清除元素默认的内外边距  */

* {
    margin: 0;
    padding: 0
}


/*让所有斜体 不倾斜*/

em,
i {
    font-style: normal;
}


/*去掉列表前面的小点*/

li {
    list-style: none;
}


/*图片没有边框 去掉图片底侧的空白缝隙*/

img {
    border: 0;
    /*ie6*/
    vertical-align: middle;
}


/*让button 按钮 变成小手*/

button {
    cursor: pointer;
}


/*取消链接的下划线*/

a {
    color: #6a727a;
    text-decoration: none;
}

a:hover {
    color: #ff6700;
}

button,
input {
    outline: none;
    border: none;
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #6a727a;
}


/*清除浮动*/

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}


/* 版心 */

.w {
    width: 1230px;
    margin: 0 auto;
}


/* 隐藏 */

.hide,
.none {
    display: none;
}


/* 显示 */

.show {
    display: block;
}


/* 浮动 */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 字体图标 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../fonts/icomoon.woff?7kkyc2') format('woff'), url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}